:root{
  --primary-green: #5dc0a6;
  --primary-dark-green: #267346;
  --primary-red: #f94943;
  --primary-dark-red: rgba(255,7,0,1);
  --primary-dark-blue: #1B1834;
  --primary-blue-black: #1B1919;
  --primary-silver: #8B8897;
}

body{
background-color: var(--primary-dark-blue);
color: white;
font-family: sans-serif;
}
button{
  border: none;
  color: white;
  background-color: transparent;
  font-size: unset;
  padding: 5px;
  outline: none;
  margin: 0 auto; 
}

a {
  text-decoration: none;
  color: unset;
  cursor: default;
}

input[type="submit"]{
  outline: none;
  border: none;
}

input[type="submit"]:focus{
  background-color: var(--primary-dark-green);
  color: white;
}

.centered-row{
  text-align: center;
}

.left-aligned{
  text-align: left;
}

.inline-block{
  display: inline-block;
}

.table-title{
  padding: 7px;
  border-radius: 3px;
  font-size: 20px;
}

.anime-table{
  margin: 60px;
  background-color: white;
  color: black;
}

.reset-button{
  margin-left: 10px;
  color: white;
  background-color: var(--primary-green);
  padding: 10px;
  border-radius: 3px;
}
.reset-button:hover{
  background-color: var(--primary-red)
}

.loading-bar{
  display: block;
  margin: auto;
  padding-top: 100px;
}

.loading-icon{
  display: block;
  margin: auto;
}

.menu-bar{
  background-color: var(--primary-blue-black);
  display: flow-root;
  margin: -7px;
}

.menu-bar-items{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-bar-items > li > a {
  float: right;
  padding: 13px;
  color: var(--primary-silver);
}
.menu-bar-items >li a:hover{
  background-color: var(--primary-dark-green);
  color: white;
}

.delete-button {
  color: var(--primary-red);
}
.delete-button:hover{
  color: var(--primary-dark-red);
}

label, 
.animated-input {
  transition: all 0.2s;
  text-align: left;
  color: black;
}
.animated-input-box{
  display: flex;
  flex-flow: column-reverse;
  width: 90%;
  margin-bottom: 6px;
}

.animated-input{
  font-size: 1em;
  border-radius: 3px;
  border: 3px solid white;
  padding: 0px 0px 0px 4px;
  cursor: text;
}

.animated-input:focus {
  outline: none;
  border: 3px solid var(--primary-dark-green);
}

label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-left: 5px;
}

.animated-input:placeholder-shown+label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 1.6rem) scale(1.15);
}

.animated-input::-webkit-input-placeholder{
  opacity: 0;
  transition: inherit;
}

.animated-input:focus::-webkit-input-placeholder{
  opacity: 1;
}

.animated-input:not(:placeholder-shown)+label,
.animated-input:focus+label{
  transform: translate(0,0) scale(1);
  cursor: pointer;
  color: white;
}

.add-form-card{
  display: inline-block;
  margin-top: 20px;
  background-color: #23222B;
  box-shadow: 0 19px 38px rgba(0,0,0, 0.30), 0 15px 12px rgba(0,0,0, 0.22);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.add-form-title{
  text-align: left;
  background-color: var(--primary-silver);
  padding: 10px 10px 10px 20px;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.add-form{
  padding: 5px 20px 10px 20px;
}

.add-form-element{
  min-width: 500px;
  width: 500px;
}

.add-form-submit {
  background-color: silver;
  font-size: 1em;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 3px;
}

.add-form-submit:hover{
  background-color: var(--primary-dark-green);
}

.genre-button,
.genre-button-selected {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: var(--primary-green);
  padding: 5px;
  border-radius: 2px;
}

.genre-button-selected{
  background-color: var(--primary-dark-green);
}

.genre-button:hover{
  background-color: var(--primary-dark-green);
}